
@{
    ViewData["Title"] = "Details";
}

@model Contact
<h1>Details</h1>

<ul>

    <li>
        @Model.Name 
    </li>
      
    <li>
        @Model.Surname
    </li>

    <li>
        @Model.Email
    </li>

    <li>
        @Model.Phone
    </li>

</ul>

